{% extends "index.html" %}
{% block content %}
<body>
    <h1>Create Language</h1>
        <form action="/languages/create" method="post">
            <label for="consonants" class="form-label">Consonants</label>
            <input type="text" name="consonants" id="consonants" class="form-control">
            <label for="vowels" class="form-label">Vowels</label>
            <input type="text" name="vowels" id="vowels" class="form-control">
            <label for="patterns" class="form-label">Patterns</label>
            <input type="text" name="patterns" id="patterns" class="form-control">
            <label for="stress" class="form-label">Stress</label>
            <input type="text" name="stress" id="stress" class="form-control">
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
</html>
{% endblock %}
