{% extends "index.html" %}
{% block content %}
<body>
    <a href="{{ url_for('index') }}">Back</a>
    <h1>Create Language</h1>
    <form action="/languages/create" method="post">
        <div class="card mb-4">
            <div class="card-body">
                <div id="consonant-container">
                    <h3>Consonants</h3>
                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="C1" class="form-label">C1</label>
                        </div>
                        <div class="col">
                            <input type="text" name="C1" id="C1" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary" onclick="addConsonant()"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <div id="vowel-container">
                    <h3>Vowels</h3>
                    <div class="row mb-2">
                        <div class="col-2">
                            <label for="V1" class="form-label">V1</label>
                        </div>
                        <div class="col">
                            <input type="text" name="V1" id="V1" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-primary" onclick="addVowel()"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h3>Patterns</h3>
                <input type="text" name="patterns" id="patterns" class="form-control mb-2">
                <div id="pattern-buttons">
                    <button type="button" class="btn btn-outline-primary" onclick="appendToPattern(`C1`)">C1</button>
                    <button type="button" class="btn btn-outline-primary" onclick="appendToPattern(`V1`)">V1</button>
                </div>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h3>Stress</h3>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="stress" id="stress1" value="-1">
                    <label class="form-check-label" for="stress1">
                        Last
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="stress" id="stress2" value="-2">
                    <label class="form-check-label" for="stress1">
                        Penultimate
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="stress" id="stress3" value="-3">
                    <label class="form-check-label" for="stress1">
                        Antepenultimate
                    </label>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</body>
<script>
    let consonantCount = 1;
    let vowelCount = 1;

    function addConsonant() {
        consonantCount++;
        let consonantContainer = document.getElementById('consonant-container');
        consonantContainer.insertAdjacentHTML('beforeend', `
        <div class="row mb-2">
            <div class="col-2">
                <label for="C${consonantCount}" class="form-label">C${consonantCount}</label>
            </div>
            <div class="col">
                <input type="text" name="C${consonantCount}" id="C${consonantCount}" class="form-control">
            </div>
        </div>`);
        let patternButtons = document.getElementById('pattern-buttons');
        patternButtons.insertAdjacentHTML('beforeend', `
            <button type="button" class="btn btn-outline-primary" onclick="appendToPattern('C${consonantCount}')">C${consonantCount}</button>`);
    }

    function addVowel() {
        vowelCount++;
        let vowelContainer = document.getElementById('vowel-container');
        vowelContainer.insertAdjacentHTML('beforeend', `
        <div class="row mb-2">
            <div class="col-2">
                <label for="V${vowelCount}" class="form-label">V${vowelCount}</label>
            </div>
            <div class="col">
                <input type="text" name="V${vowelCount}" id="V${vowelCount}" class="form-control">
            </div>
        </div>`);
        let patternButtons = document.getElementById('pattern-buttons');
        patternButtons.insertAdjacentHTML('beforeend', `
            <button type="button" class="btn btn-outline-primary" onclick="appendToPattern('V${vowelCount}')">V${vowelCount}</button>`);
    }

    function appendToPattern(letter) {
        let patterns = document.getElementById('patterns');
        patterns.value += letter;
    }
</script>
{% endblock %}
