<!DOCTYPE html>
<html>

<head>
    <title>Create Language</title>
</head>

<body>
    <h1>Create Language</h1>
        <form action="/languages/create" method="post">
            <label for="consonants">Consonants</label>
            <input type="text" name="consonants" id="consonants">
            <label for="vowels">Vowels</label>
            <input type="text" name="vowels" id="vowels">
            <label for="patterns">Patterns</label>
            <input type="text" name="patterns" id="patterns">
            <label for="stress">Stress</label>
            <input type="text" name="stress" id="stress">
            <button type="submit">Create</button>
        </form>

</html>