<!DOCTYPE html>
<html>

<head>
    <title>Language Dashboard</title>
</head>

<body>
    <h1>Language Dashboard</h1>
    <a href="/languages/create">Add a new language</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for language in languages %}
            <tr>
                <td><a href="{{ url_for('languages', language_id=language.language_id) }}">{{ language.language_id }}</a></td>
                <td>
                    <form action="{{ url_for('delete_language', language_id=language.language_id) }}" method="post">
                        <button type="submit">Delete</button>
                    </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</html>
