{% extends "index.html" %}
{% block content %}
<body>
    <a href="{{ url_for('index') }}">Back</a>
    <h1>Language Dashboard</h1>
    {% if vocabulary %}
    <input type="text" id="search" class="form-control" placeholder="Search" onkeyup="search()">
    {% set pages = (vocabulary.items|length / 10) | round(method='ceil') | int %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Word</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody id="vocabulary-body">
            {% for i in range(10) %}
            <tr>
                <td><span class="serif"><b>{{ vocabulary[i].word }}</b></span></td>
                <td>{{ vocabulary[i].definition }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <nav>
        <ul class="pagination" id="pagination">
        </ul>
    </nav>
    {% endif %}
    <form action="{{ url_for('mutate', language_id=language.id) }}" method="get">
        <button class="btn btn-primary" type="submit">Mutate</button>
    </form>
</body>
<script>
    const vocabulary = {{ vocabulary.items | tojson }};
    const rowsPerPage = 10;
    let pages = Math.ceil(vocabulary.length / rowsPerPage);
    const table = document.querySelector('table');
    const tableBody = document.getElementById('vocabulary-body');
    const pagination = document.getElementById('pagination');
    let currentPage = 0;

    let filtered = vocabulary;

    renderTable = page => {
        tableBody.innerHTML = '';
        const start = page * rowsPerPage;
        const end = Math.min(start + rowsPerPage, filtered.length);
        for (let i = start; i < end; i++) {
            const row = `<tr>
                <td><span class="serif"><b>${filtered[i].word}</b></span></td>
                <td>${filtered[i].definition}</td>
            </tr>`;
            tableBody.innerHTML += row;
        }
    };

    renderPagination = () => {
        pagination.innerHTML = '';

        pagination.innerHTML += `<li class="page-item">
            <a class="page-link" href="#" onclick="currentPage = Math.max(0, currentPage - 1); renderTable(currentPage); renderPagination();">Previous</a>
        </li>`;

        if (currentPage > 2) {
            pagination.innerHTML += `<li class="page-item ${currentPage === 0 ? 'active' : ''}">
                <a class="page-link" href="#" onclick="currentPage = 0; renderTable(currentPage); renderPagination()">1</a>
            </li>`;
        }

        for (let i = Math.max(0, currentPage - 2); i < Math.min(pages, currentPage + 3); i++) {
            pagination.innerHTML += `<li class="page-item ${currentPage === i ? 'active' : ''}">
                <a class="page-link" href="#" onclick="currentPage = ${i}; renderTable(currentPage); renderPagination();">${i + 1}</a>
            </li>`;
        }

        if (currentPage < pages - 3) {
            pagination.innerHTML += `<li class="page-item ${currentPage === pages - 1 ? 'active' : ''}">
                <a class="page-link" href="#" onclick="currentPage = pages - 1; renderTable(currentPage); renderPagination()">${pages}</a>
            </li>`;
        }
        pagination.innerHTML += `<li class="page-item">
            <a class="page-link" href="#" onclick="currentPage = Math.min(pages - 1, currentPage + 1); renderTable(currentPage); renderPagination()">Next</a>
        </li>`;
    };

    search = () => {
        const search = document.getElementById('search').value;
        filtered = vocabulary.filter(word => word.word.toLowerCase().includes(search.toLowerCase()) || word.definition.toLowerCase().includes(search.toLowerCase()));
        currentPage = 0;
        pages = Math.ceil(filtered.length / rowsPerPage);
        renderTable(currentPage);
        renderPagination();
    };

    document.addEventListener('DOMContentLoaded', () => {
        renderTable(currentPage);
        renderPagination();
    });



</script>
{% endblock %}
