{% extends "index.html" %}
{% block content %}
<body>
    <h1>Language Dashboard</h1>
    {% if vocabulary %}
    <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Definition</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(5) %}
            <tr>
                <td><span class="serif"><b>{{ vocabulary[i].word }}</b></span></td>
                <td>{{ vocabulary[i].definition }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <form action="{{ url_for('mutate', language_id=language.id) }}" method="get">
        <button class="btn btn-primary" type="submit">Mutate</button>
    </form>
</body>
{% endblock %}
