
<select name="sound_changes" class="form-select">
    <option value="elision_pre">Elision before stress</option>
    <option value="elision_post">Elision after stress</option>
    <option value="final_vowel_deletion">Final vowel deletion</option>
    <option value="final_consonant_deletion">Final consonant deletion</option>
    <option value="umlaut">Umlaut</option>
    <option value="shortening">Shortening</option>
    <option value="lengthening">Lengthening</option>
    <option value="opening">Opening</option>
    <option value="sonorization">Sonorization</option>
    <option value="grimms_law">Grimm's Law</option>
    <option value="great_vowel_shift">Great Vowel Shift</option>
    <option value="palatalization_front">Palatalization front</option>
    <option value="palatalization_back">Palatalization back</option>
    <option value="canaanite_shift">Canaanite Shift</option>
    <option value="yiddish_breaking">Yiddish Breaking</option>
    <option value="romance_breaking">Romance Breaking</option>
    <option value="articulation_weakening">Articulation Weakening</option>
    <option value="inventory_reduction">Inventory Reduction</option>
</select>
